<footer>
<div class="footer">
    <div class="section">
        <h3>WattGlow Power Private Limited</h3>
        <p>
            WattGlow Power Private Limited is a solar EPC company focused on delivering high-quality, sustainable solar
            energy solutions. We specialize in end-to-end services for solar power plant projects, ensuring reliability
            and customer satisfaction.
        </p>
    </div>

    <div class="section">
        <h3>QUICK LINKS</h3>
        <ul>
            <li><a href="{{BASE_PATH}}">Home</a></li>
            <br>
            <li><a href="{{BASE_PATH}}about">About</a></li>
            <br>
            <li><a href="{{BASE_PATH}}sustainability">Sustainability</a></li>
            <br>
            <li><a href="{{BASE_PATH}}careers">Careers</a></li>
            <br>
            <li><a href="{{BASE_PATH}}news">Blogs & Media</a></li>
            <br>
            <li><a href="{{BASE_PATH}}contact">Contact Us</a></li>
        </ul>
    </div>

    <div class="section">
        <h3>CONTACT US</h3>
        <p>
            <a href="https://www.google.com/maps/place/WattGlow+Power+Pvt+Ltd/@22.2975816,73.1626638,17z/data=!3m1!4b1!4m6!3m5!1s0x395fc7cbc842bc0b:0x4108ae844b312b59!8m2!3d22.2975767!4d73.1652387!16s%2Fg%2F11lmm0h55n!5m1!1e4?entry=ttu&g_ep=EgoyMDI1MDMxNi4wIKXMDSoJLDEwMjExNjM5SAFQAw%3D%3D" target="_blank" rel="noopener noreferrer">
            Pancham Highstreet, 303, Old Padra Rd, Vidyutnagar Colony, IOC Nagar, Akota, Vadodara, Gujarat - 390020
        </a>
        </p>
        <br>
        <p>
            📞 <a href="tel:+918160807490">+91 81608 07490</a>
        </p>
        <br>
        <p>
            📧 <a href="mailto:info@wattglow.com">info@wattglow.com</a>
        </p>
        <br>
        <p>🕒 Mon to Sat 09:00 AM - 06:00 PM</p>
        <br>
    </div>

    <div class="section">
        <h3>FOLLOW US</h3>
        <div class="social-icons social-icons-width">
            <a href="https://www.facebook.com/profile.php?id=61564391866936" target="_blank" rel="noopener noreferrer" aria-label="Visit our Facebook page"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg"
                    alt="Facebook"></a>
            <a href="https://www.linkedin.com/company/wattglow" target="_blank" rel="noopener noreferrer" aria-label="Visit our LinkedIn company page"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png"
                    alt="LinkedIn"></a>
            <a href="https://www.instagram.com/wattglowpower.re" target="_blank" rel="noopener noreferrer" aria-label="Visit our Instagram profile"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png"
                    alt="Instagram"></a>
            <a href="https://www.youtube.com/channel/UCsUS2NZlAnUs3qu-qhfFA2w" target="_blank" rel="noopener noreferrer" aria-label="Visit our YouTube channel"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/4/42/YouTube_icon_%282013-2017%29.png"
                    alt="YouTube"></a>
        </div>
        <br>
        <h3>REVIEW US</h3>
        <a href="https://www.google.com/maps/place/WattGlow+Power+Pvt+Ltd/@22.296735,73.1603054,17z/data=!3m1!4b1!4m6!3m5!1s0x395fc7cbc842bc0b:0x4108ae844b312b59!8m2!3d22.296735!4d73.1628803!16s%2Fg%2F11lmm0h55n?entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer" aria-label="Leave us a Google review"><img
                src="https://logos-world.net/wp-content/uploads/2023/12/Google-Review-Logo.png"
                alt="Google Reviews" style="width: 100px;"></a>
        <br><br>
        <br><br>
        <a href="{{BASE_PATH}}contact" class="btn btn-lg btn-contact-us text-white">Contact Us →</a>
    </div>
</div>
<div class="footer-bottom-bar p-1 bg-footer-color justify-content-md-around text-center">
    <p class="text-white mb-0">© 2026 WattGlow Power Pvt. Ltd. | All rights reserved | <a href="{{BASE_PATH}}privacy-policy" class="text-white text-decoration-underline">Privacy Policy</a></p>
    <p class="text-white mb-0">
        Powered by <a href="https://www.ascendons.com" target="_blank" rel="noopener noreferrer" class="text-white">Ascendons</a>
    </p>
</div>

<a href="https://api.whatsapp.com/send?phone=917383760478" class="whatsapp-icon" target="_blank" rel="noopener noreferrer" aria-label="Contact us on WhatsApp" role="button">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="">
    <span class="tooltip-text">Chat with us on WhatsApp</span>
</a>
</footer>
