<nav class="top-0 navbar navbar-expand-lg navbar-light sticky-top p-1 bg-Div-light">
    <a href="{{BASE_PATH}}" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
        <img src="{{BASE_PATH}}img/WattGlow.png" alt="WattGlow Power - Solar EPC Company Logo" class="mb-2" style="width: 120px; height: auto;">
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-label="Toggle navigation menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto p-4 p-lg-0">
            <li class="nav-item"><a href="{{BASE_PATH}}" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{BASE_PATH}}about" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">About Us</a>
                <ul class="dropdown-menu bg-Div-light" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{BASE_PATH}}about">Why Choose Us</a></li>
                    <li><a class="dropdown-item" href="{{BASE_PATH}}qhsse">QHSSE</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Offering</a>
                <ul class="dropdown-menu bg-Div-light" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{BASE_PATH}}offering/ground">Ground Mounted Solar</a></li>
                    <li><a class="dropdown-item" href="{{BASE_PATH}}offering/residential">Residential</a></li>
                    <li><a class="dropdown-item" href="{{BASE_PATH}}offering/commercial">Commercial & Industrial</a></li>
                    <li><a class="dropdown-item" href="{{BASE_PATH}}offering/floating">Floating Solar</a></li>
                    <li><a class="dropdown-item" href="{{BASE_PATH}}offering/operations">Operation & Maintenance</a></li>
                    <li><a class="dropdown-item" href="{{BASE_PATH}}offering/transmission">Transmission Line & Substations</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="{{BASE_PATH}}service" class="nav-link">Service</a></li>
            <li class="nav-item"><a href="{{BASE_PATH}}sustainability" class="nav-link">Sustainability</a></li>
            <li class="nav-item"><a href="{{BASE_PATH}}careers" class="nav-link">Careers</a></li>
            <li class="nav-item"><a href="{{BASE_PATH}}news" class="nav-link">Blogs & Media</a></li>
            <li class="nav-item"><a href="{{BASE_PATH}}contact" class="nav-link">Contact</a></li>
        </ul>
    </div>
</nav>
